    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        <!-- Added -->
        <h5 style="text-align: left;">Brought you by</h5>
        <div class="row">
          <div class="col-md-12 text-center" style="max-width: 95%; max-height: 300px;">
            <img alt="SDPS" src="{{ site.baseurl }}/assets/img/sponsors/SDPS.jpeg" style="display: inline-block !important; max-width: 30% !important;">
            <img alt="SES"  src="{{ site.baseurl }}/assets/img/sponsors/SES.png"  style="display: inline-block !important; max-width: 20% !important; ">
          </div>
        </div>
        <!-- /Added -->
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container" style="max-width: 870px;">
        <!-- Added -->
        <h5 style="text-align: left;">Brought you by</h5>
        <div class="row">
          <div class="col-md-12 text-center" style="max-width: 95%; max-height: 300px;">
            <img alt="SDPS" src="{{ site.baseurl }}/assets/img/sponsors/SDPS.jpeg" style="display: inline-block !important; max-width: 20% !important; max-height: fit-content; vertical-align: bottom;">
            <img alt="SES"  src="{{ site.baseurl }}/assets/img/sponsors/SES.png"  style="display: inline-block !important; max-width: 30% !important; max-height: fit-content; vertical-align: bottom;">
          </div>
        </div>
        <!-- -->
        <!-- /Added -->
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}
